*.pc
*.tar.gz
*.tgz
.DS_Store
.classpath
.generated
.package
.project
.settings
Makefile.am
Makefile.in
ac-init.generated
aclocal.m4
autom4te.cache
bin/
build
config.guess
config.log
config.status
configure
configure.ac
create-package
fw
fw-pkgout
fw-pkgtmp
gen-java/
install-sh
missing
repository
src/main/thrift/
src/test/thrift/
target/
thrift_sources/
PACKAGE_LOCATION.txt
PACKAGE_VERSION.txt
.vscode/settings.json
*.iml
/.idea/*
